$white-bg: #fff !default;
$support-bg: #B8FFEC !default;
$gray-bg: #F8F8F8 !default;
$default-text-color: #1B1C21 !default;
$support-text-color: #7E7E82 !default;
$swiper-bullet: #DDD !default;
$table-btn: #FF3E79 !default;
$footer-line: #D9FFF5 !default;
$title-marker: #41F6D7;
$table-lines: #EAEAEA;
$swiper-shadow:  linear-gradient(270deg, $gray-bg 16.84%, rgba(248, 248, 248, 0) 100%);
$modal-bg: rgba(255, 255, 255, 0.9605);
$modal-shadow1: rgba(14, 24, 80, 0.20);
$modal-shadow2: rgba(69, 79, 126, 0.02);
$placeholder: #B5B6BC;
$navigation-shadow: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
$menu-shadow: rgba(14, 24, 80, 0.20);
$section-title: linear-gradient(270deg, #fff 0%, #f8f8f8 98.61%);