.details {
    &[open] {
      .summary {
        > span {
          display: none;
        }
        &::after {
          content: "Скрыть";
        }
      }
      .summary::before {
        transform: rotate(180deg);
      }
    }
    .summary {
      margin-top: 24px;
      display: inline;
      cursor: pointer;
      font-family: "TT Lakes Medium";
      font-size: 16px;
      line-height: 24px;
      &::marker {
        display: none;
      }
      &::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../img/subtext__title-marker.svg) center no-repeat;
      }
    }
  }