.main__footer {
    border-top: 1px solid $footer-line;
    height: 85px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    color: $support-text-color;
    font-size: 14px;
    line-height: 16px;
    background-color: $gray-bg;
    > div {
      width: 33%;
    };
    .footer__politics {
      text-align: center;
    };
    .footer__information {
      text-align: right;
    };
  };