@media screen and (max-width: 540px) {
    .page {
      .page__main {
        .main__header {
          .contacts__box {
            display: none;
          }
        }
        .main__main {
          .history {
            .history__container {
              
            }
          }
        }
      }
    }
    .modal {
      .modal__form {
        .modal__title {
          margin: 104px 0 24px 0;
        }
      }
      .modal__background {
        .btn--close {
          right: -56px;
          z-index: 6;
        }
      }
    }
  }