.page__main {
    position: relative;
    .main__header {
      display: flex;
      position: absolute;
      right: 30px;
      top: 42px;
      z-index: 1;
      .contacts__box {
        display: none;
      }
      .btn{
        display: flex;
        align-items: center;
        height: 40px;
      }:not(:last-child) {
        margin-right: 32px;
      }
      .btn__text {
        margin: 0;
        padding-right: 8px;
      }
      .btn--burger {
        display: none;
      }
      .header__logo {
        display: none;
      }
      .btn--app, .btn--status {
        border-radius: 0;
      }
    }
    .main__main {
      .main__title {
        font-family: "TT Lakes Bold";
        margin: 42px 0 17px 35px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        position: relative;
      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 3px;
        height: 40px;
        background-color: $title-marker;
        border-radius: 3px;
        margin-left: -33px;
      }
    }
      .main__navigation {
        padding: 0 34px;
        display: flex;
        flex-wrap: wrap;
      }
      .navigation__link {
        padding: 5px 20px;
        margin-bottom: 14.63px;
        margin-right: 10px;
        color: #7E7E82;
      }
      .navigation__link--active {
        border: 2px solid $support-bg;
        background-color: #fff;
        border-radius: 6px;
      }
      .history {
        display: flex;
        padding: 0 32px 40px 32px;
        .history__text {
          font-family: "TT Lakes Regular";
          line-height: 20px;
          margin-right: 36px;
          font-size: 14px;
          font-weight: 400;
          height: 160px;
          overflow: hidden;
          > p:not(:last-child) {
            margin-bottom: 20px;
          } 
        }
        .history__text--active {
          height: auto;
        }
        .history__img {
          border-radius: 8px;
          width: 50%;
          aspect-ratio: 16 / 9;
          align-self:flex-start;
        }
      }
    }
    .brands {
      .brands__navigation {
        grid-template-rows: repeat(2, 1fr);
        .section__item {
          margin-bottom: 16px;
          height: 72px;
          align-items: center;
        }
      }
      .brands__navigation--active {
        grid-auto-rows: max-content;
      }
      .brands__btn {
        margin-left: 32px;
      }
    }
    .gadgets {
      .gadgets__navigation {
        grid-template-rows: repeat(1, 1fr);
        .section__item {
          margin-bottom: 16px;
          height: 160px;
          flex-direction: column;
          .item__text {
            margin: 0;
            align-self: flex-start;
          }
          .item__btn {
            align-self: flex-end;
          }
        }
      }
      .gadgets__navigation--active {
        grid-auto-rows: max-content;
      }
      .gadgets__btn {
        margin-left: 32px;
      }
    }
    .prices {
      padding-bottom: 50px;
      .prices__container {
        padding: 32px;
        .swiper {
          display: table;
        }
        .prices__table {
          width: 100%;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.2px;
          border-collapse: collapse;
          padding: 0 23px;
          > thead {
            color: $support-text-color;
            text-align: left;
            >tr {
                >th {
                    padding: 23px;
                    font-weight: normal;
                }
            }
          }
          > tbody {
            background: $white-bg;
            border-radius: 6px;
            display: table-row-group;
            > tr {
              display: table-row;
              &:not(:first-child)::after {
                content: " ";
                display: block;
                height: 1px;
                position: absolute;
                left: 23px;
                right: 23px;
                background: $table-lines;
                }
              > td {
                padding: 23px;
                }
            }
          }
        }
      }
      .prices__addition {
        width: 100%;
        max-width: 484px;
        padding: 0 32px 16px 32px;
        font-family: "TT Lakes Regular";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
      }
      .prices__offer {
        padding-left:  32px;
        display: inline;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          width: 24px;
          height: 24px;
          background: url(../img/prices__offer.svg) center no-repeat;
        }
      }
    }
  }