.main__footer {
    border-top: 1px solid #D9FFF5;
    height: 85px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
    background-color: #f8f8f8;
    > div {
      width: 30%;
    }
    .footer__politics {
      text-align: center;
    }
    .footer__information {
      text-align: right;
    }
  }