a {
    text-decoration: none;
    color: #1B1C21;
  }
  
  .btn {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
  }

  .section {
    padding-bottom: 24px;
    width: 100%;
    background-color: #F8F8F8;
  }

  .section__title {
    padding: 16px 32px;
    margin: 0;
    color: #7E7E82;
    font-family: "TT Lakes Regular";
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(270deg, #fff 0%, #f8f8f8 98.61%);
  }

  .section__box {
    padding: 24px 32px 0 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-auto-rows: 0;
    overflow-y: hidden;
    column-gap: 32px;
    .section__item {
      width: 100%;
      max-width: 240px;
      padding: 16px;
      background: #fff;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      .item__btn {
        background: url(../img/item__btn.svg) center no-repeat;
        width: 40px;
        height: 40px;
      }
    }
  }

  .section .swiper-wrapper {
    box-sizing: border-box;
  }

  .details[open] {
    .summary {
      > span {
        display: none;
      }
      &::after {
        content: "Скрыть";
      }
    }
    .summary::before {
      transform: rotate(180deg);
    }
  }

  .summary {
    margin-top: 24px;
    display: inline;
    cursor: pointer;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
    &::marker {
      display: none;
    }
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(../img/subtext__title-marker.svg) center no-repeat;
    }
  }

  .table__btn {
    border-radius: 16px;
    background: #FF3E79;
    padding: 4px 8px 4px 12px;
    font-family: "TT Lakes Bold";
    font-size: 12px;
    font-style: normal;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.15px;
    color: #FFF;
    display: flex;
    margin: 0 0 0 auto;
    img {
      margin-left: 8px;
    }
  }

  .btn--close {
    width: 40px;
    height: 40px;
    background: url(../img/btn--close.svg) center no-repeat;
  }

  .contacts__box {
    display: flex;
    margin-bottom: 16px;
    .btn {
      width: 40px;
      height: 40px;
    }:not(:last-child) {
      margin-right: 16px;
    }
    .btn-tel {
      background: url(../img/btn-tel.png) center no-repeat;
    }
    .btn-chat {
      background: url(../img/btn-chat.png) center no-repeat;
    }
    .btn-profile {
      background: url(../img/btn-profile.png) center no-repeat;
    }
  }

  .swiper {
    padding-bottom: 24px;
    .swiper-wrapper {
      display: grid;
    }
    .swiper-pagination {
      display: none;
    }
  }

  .swiper-horizontal {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        background-color: #DDDDDD;
      }
    }
  }