@import 'colors';
@import 'fonts';
@import 'other';
@import 'main__footer';
@import 'modal';
@import 'page__menu';
@import 'page__main';
@import 'page';
@import 'linksAndBtns';
@import 'section';
@import 'swiper';
@import 'details';
@import 'mediaMax1365';
@import 'mediaMax1000';
@import 'mediaMax768';
@import 'mediaMin722';
@import 'mediaMax721';
@import 'mediaMax579';
@import 'mediaMax540';
@import 'mediaMax360';

* {
  box-sizing: border-box;
  margin: 0;
};
  
body {
  cursor: default;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'TT Lakes Medium';
  letter-spacing: -0.2px;
  color: $default-text-color;
};