@import url(../scss/fonts.scss);
@import url(../scss/other.scss);
@import url(../scss/main__footer.scss);
@import url(../scss/modal.scss);
@import url(../scss/page__menu.scss);
@import url(../scss/page__main.scss);


* {
  box-sizing: border-box;
  margin: 0;
  // outline: 1px solid #000;
}
  
body {
  cursor: default;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'TT Lakes Medium';
  letter-spacing: -0.2px;
  color: #1B1C21;
  }
  
.page {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  .page__menu {
    .menu__content {
      width: 320px;
    }
  }
  .page__main {
    background-color: #F8F8F8;
    width: calc(100% - 320px);
  }
}

@media screen and (max-width: 1365px) {
  .page {
    .page__menu {
      width: 100%;
      display: flex;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 2;
      background-color: #fff;
      transition: all .2s linear;
      .menu__content {
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
        z-index: 3;
        .menu__header {
          .btn--close {
            display: block;
          }
        }
      }
      .menu__background {
        width: 100%;
        max-width: calc(100% - 320px);
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9605);
      }
    }
    .page__menu--active {
      left: 0 !important;
    }
    .page__main {
      width: 100%;
      .main__header {
        background: #fff;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        top: 0;
        left: 0;
        height: 88px;
        padding: 24px;
        .contacts__box {
          display: flex;
          align-items: center;
          margin: 0;
          .btn {
            margin-right: 16px;
            &:last-child {
              margin-right: 20px;
            }
          }
          &::after {
            display: block;
            content: "";
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background: #EAEAEA;
            margin-right: 20px;
          }
        }
        .btn {
          &:not(:last-child) {
            margin-right: 16px;
          }
          .btn__text {
            display: none;
          }
        }
        .header__logo {
          display: block;
          margin: 0 auto 0 26px;
        }
        .btn--burger {
          display: block;
          position: relative;
          width: 40px;
          height: 40px;
          background: url(../img/btn--burger.svg) center no-repeat;
          &::after {
            cursor: default;
            display: block;
            content: "";
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background: #EAEAEA;
            position: absolute;
            top: 4px;
            left: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section__box {
    grid-template-columns: repeat(3, 1fr);
  }

  .page__main {
    .brands {
      .brands__subbrands {
        .subbrands__title {
          margin-top: 8px;
        }
      }
    }
    .prices {
      .prices__container {
        .prices__table {
          >thead {
            > tr {
              > th {
                padding: 23px 16px;
                &:first-child {
                  padding: 23px 0 23px 16px;
                }
                &:not(:first-child) {
                  padding: 23px 5px;
                }
                &:last-child {
                  padding: 23px 16px 23px 0;
                }
              }
            }
          }
          > tbody {
            > tr {
              &:not(:first-child)::after {
                left: 48px;
                right: 48px;
              }
              > td {
                padding: 23px 16px;
                &:first-child {
                  padding: 23px 0 23px 16px;
                }
                &:not(:first-child) {
                  padding: 23px 5px;
                }
                &:last-child {
                  padding: 23px 16px 23px 0;
                }
              }
            }
          }
        }
      }
    }
    .main__footer {
      height: 105px;
    }
  }
}

@media screen and (max-width: 768px) {
  .summary {
    margin-top: 24px;
  }

  .section {
    padding-bottom: 32px;
  }

  .section__title {
    padding: 16px 24px;
  }

  .section__box {
    padding: 24px 24px 0 24px;
    column-gap: 24px;
  }

  .page__main {
    .main__main {
      position: relative;
      .main__title {
        margin: 24px 0 22px 24px;
        &::before {
          margin-left: -24px;
          width: 4px;
        }
      }
      .main__navigation {
        padding: 10px 24px;
        margin-bottom: 6px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        };
        &::after {
          content: "";
          display: block;
          width: 24px;
          height: 40px;
          background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
          position: absolute;
          right: 0;
          top: 64px;
        }
        .navigation__link {
          margin-right: 0;
        }
      }
      .history {
        padding: 24px;
      }
      .prices {
        padding-bottom: 47px;
        .prices__container {
          padding: 24px;
          .prices__table {
            > tbody {
              > tr {
                &:not(:first-child)::after {
                  left: 40px;
                  right: 40px;
                }
              }
            }
          }
        }
        .prices__addition {
           margin: 0 0 16px 24px;
        }
        .prices__offer {
           padding-left: 24px;
        }
      }
    }
    .main__footer {
      padding: 32px 24px;
    }
  }
}