@import url(../scss/fonts.scss);
@import url(../scss/other.scss);
@import url(../scss/main__footer.scss);
@import url(../scss/modal.scss);
@import url(../scss/page__menu.scss);
@import url(../scss/page__main.scss);

:root {
  --swiper-theme-color: #B5B6BC;
}

* {
  box-sizing: border-box;
  margin: 0;
  // outline: 1px solid #000;
}
  
body {
  cursor: default;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-family: 'TT Lakes Medium';
  letter-spacing: -0.2px;
  color: #1B1C21;
  }
  
.page {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  .page__menu {
    .menu__content {
      width: 320px;
    }
  }
  .page__main {
    width: calc(100% - 320px);
    background: #F8F8F8;
    
  }
}

@media screen and (max-width: 1365px) {
  .page {
    .page__menu {
      width: 100%;
      display: flex;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 2;
      transition: all .2s linear;
      .menu__content {
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
        z-index: 3;
        .menu__header {
          .btn--close {
            display: block;
          }
        }
      }
      .menu__background {
        width: 100%;
        max-width: calc(100% - 320px);
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.9605);
      }
    }
    .page__menu--active {
      left: 0 !important;
    }
    .page__main {
      width: 100%;
      .main__header {
        background: #fff;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        top: 0;
        left: 0;
        height: 88px;
        padding: 24px;
        .contacts__box {
          display: flex;
          align-items: center;
          margin: 0;
          .btn {
            margin-right: 16px;
            &:last-child {
              margin-right: 20px;
            }
          }
        }
        .btn--app {
          &::before {
            display: block;
            content: "";
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background: #EAEAEA;
            margin-right: 20px;
          }
        }
        .btn {
          &:not(:last-child) {
            margin-right: 16px;
          }
          .btn__text {
            display: none;
          }
        }
        .header__logo {
          display: block;
          margin-right: auto;
          padding-left: 30px;
        }
        .btn--burger {
          display: block;
          position: relative;
          width: 40px;
          height: 40px;
          background: url(../img/btn--burger.svg) center no-repeat;
          &::after {
            cursor: default;
            display: block;
            content: "";
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background: #EAEAEA;
            position: absolute;
            top: 4px;
            left: 60px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section__box {
    grid-template-columns: repeat(3, 1fr);
  }

  .page__main {
    .brands {
      .brands__subbrands {
        .subbrands__title {
          margin-top: 8px;
        }
      }
    }
    .prices {
      .prices__container {
        .prices__table {
          >thead {
            > tr {
              > th {
                padding: 23px 16px;
                &:first-child {
                  padding: 23px 0 23px 16px;
                }
                &:not(:first-child) {
                  padding: 23px 5px;
                }
                &:last-child {
                  padding: 23px 16px 23px 0;
                }
              }
            }
          }
          > tbody {
            > tr {
              &:not(:first-child)::after {
                left: 16px;
                right: 16px;
              }
              > td {
                padding: 23px 16px;
                &:first-child {
                  padding: 23px 0 23px 16px;
                }
                &:not(:first-child) {
                  padding: 23px 5px;
                }
                &:last-child {
                  padding: 23px 16px 23px 0;
                }
              }
            }
          }
        }
      }
    }
    .main__footer {
      height: 105px;
    }
  }
}

@media screen and (max-width: 768px) {
  .summary {
    margin-top: 24px;
  }

  .section {
    padding-bottom: 32px;
  }

  .section__title {
    padding: 16px 24px;
  }

  .section__box {
    column-gap: 24px;
  }

  .page__main {
    .main__main {
      position: relative;
      .main__title {
        margin: 24px 0 22px 24px;
        &::before {
          margin-left: -24px;
          width: 4px;
        }
      }
      .main__navigation {
        padding: 10px 24px;
        margin-bottom: 6px;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        };
        &::after {
          content: "";
          display: block;
          width: 24px;
          height: 40px;
          background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
          position: absolute;
          right: 0;
          top: 64px;
        }
        .navigation__link {
          margin-right: 0;
        }
      }
      .history {
        padding: 24px;
      }
      .prices {
        padding-bottom: 47px;
        .prices__container {
          padding: 24px;
        }
        .prices__addition {
           padding: 0 24px 16px 24px;
        }
        .prices__offer {
           padding-left: 24px;
        }
      }
    }
    .main__footer {
      padding: 32px 24px;
    }
  }
}

@media screen and (min-width: 722px) {
  .swiper-slide {
    width: 100% !important;
    max-width: 240px !important;
  }
}

@media screen and (max-width: 721px) {
  .details:not(.history__subtext) {
    display: none;
  }

  .section {
    .section__box {
      column-gap: 0;
      overflow-y: visible;
      .section__item {
        margin-right: 0;
      }
    }
  }
  
  .swiper {
    padding-bottom: 0;
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: calc(100%);
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
    .swiper-wrapper {
      padding: 24px 24px 52px 24px;
      display: flex;
    }
    .swiper-pagination {
      display: block;
      bottom: 18px;      
    }
  }

  .page__main {
    .main__main {
      .prices {
        .prices__container {
          overflow: hidden;
          padding: 0;
          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                background-color: #fff;
                border-radius: 6px;
                display: flex;
                flex-direction: column;
                padding: 16px;
              }
            }
          }
          .prices__table {
            display: block;
            padding: 0;
            line-height: 16px;
            > thead {
              display: none;
            }
            > tbody {
              border-radius: 0;
              background-color: #f8f8f8;
              display: flex;
              > tr {
                position: relative;
                height: 200px;
                display: flex;
                &:not(:first-child)::after {
                  display: none;
                }
                > td {
                  padding: 0 !important;
                  &:not(:last-child) {
                    margin-bottom: 16px;
                  }
                  &:not(:last-child)::before {
                    display: block;
                    color: #7E7E82;
                    margin-bottom: 4px;
                  }
                  &:first-child::before {
                    content: "Ремонтные услуги";
                  }
                  &:nth-child(2):before {
                    content: "Цена";
                  }
                  &:nth-child(3):before {
                    content: "Срок";
                  }
                }
                .btn__box {
                  position: absolute;
                  bottom: 16px;
                  right: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 579px) {
  .summary {
    margin: 0;
  }

  .page__menu {
    .menu__content {
      padding: 24px;
      .menu__navigation {
        margin-top: 24px;
        .navigation__link {
          &:not(:last-child) {
            > p {
              margin-bottom: 24px;
            }
          }
        }
      }
      .menu__contacts {
        bottom: 64px;
        .contacts__box {
          margin-bottom: 10px;
        }
        .contacts__tel {
          margin: 12px 0 8px 0;
        }
      }
      .menu__languages {
        bottom: 32px;
      }
    }
  }

  .page__main {
    .main__main {
      .history {
        display: block;
        padding: 24px 0;
        .history__text {
          padding: 0 24px;
          margin-right: 0;
        }
        .history__img {
          width: 100%;
          border-radius: 0;
        }
      }
    }
    .main__footer {
      display: block;
      height: auto;
      padding: 16px 4px;
      text-align: center;
      > div {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      .footer__information {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .page {
    .page__main {
      .main__header {
        .contacts__box {
          display: none;
        }
      }
    }
  }

  .modal {
    .modal__form {
      .modal__title {
        margin: 104px 0 24px 0;
      }
    }
    .modal__background {
      .btn--close {
        right: -56px;
        z-index: 6;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .swiper {
    .swiper-wrapper {
      padding: 16px 16px 52px 16px;
    }
  }

  .page {
    .page__menu {
      .menu__content {
        width: 100%;
      }
      .menu__background {
        width: 0;
      }
    }
    .page__main {
      .main__header {
        padding: 24px 16px;
        .btn--burger {
          margin: 0;
          &::after {
            display: none;
          }
        }
        .header__logo {
          padding-left: 0;
        }
      }
      .main__main {
        .main__title {
          margin: 24px 0 24px 16px;
          &::before {
            margin-left: -16px;
          }
        }
        .history {
          .history__text {
            padding: 0 16px;
          }
        }
        .prices {
          padding-bottom: 40px;
          .prices__addition {
            padding: 0 16px 16px 16px;
          }
          .prices__offer {
            padding: 0 32px 0 16px;
            display: block;
            width: 100%;
            max-width: 300px;
          }
        }
      }
    }
  }
}